@model  HomeIndexGamesListingsViewModel

@{
    ViewBag.Title = "Index";
}

@Html.Partial("_CarouselView")

<div class="row">
    @using (Html.BeginForm("Search", "Home"))
    {
        <div class="col-md-1 pull-right">
            <button type="submit" class="btn btn-sm pull-right"><span class="glyphicon glyphicon-search"></span> Search</button>
        </div>
        <div class="col-md-4 pull-right">
            <input required type="search" name="SearchText" class="form-control" placeholder="Search..." />
        </div>

    }
</div>
<br />

<div class="row">
    @Html.Partial("_GamesListingPartial", Model.Games)
</div>

<div class="row">
    @if (Model.TotalGames > Model.Games.Count())
    {

        <ul class="pagination">
            <li class="page-item" style="@(Model.CurrentPage == 1 ? "display:none" : string.Empty)">@Html.ActionLink("Previous", "", new { page = Model.PreviousPage }, new { @class = "page-link btn" })</li>
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(Model.CurrentPage == i ? "active" : string.Empty) ">@Html.ActionLink($"{i}", "", new { page = i }, new { @class = "page-link btn" })</li>

            }
            <li class="page-item" style="@(Model.CurrentPage == Model.TotalPages ? "display:none" : string.Empty)">@Html.ActionLink("Next", "", new { page = Model.NextPage }, new { @class = "page-link btn" })</li>
        </ul>
    }
</div>
