@model UserDeleteForm
@{
    ViewBag.Title = $"Delete User - {Model.Username}";
}

<div class="row form-default">
    <h2 class="text-default">@ViewData["Title"]</h2>
    <div class="col-md-4">
        @using (Html.BeginForm("Delete", "Users", new { area = "Admin", id = Model.Id }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Username, new { @class = "label-control" })
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", disabled = "disabled" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "label-control" })
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", disabled = "disabled" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "label-control" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", disabled="disabled" })
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit"  id="btn-delete" class="btn btn-danger" value="Delete" />
                </div>
            </div>
        }

    </div>
</div>

@section Scripts{
   <script>
       let a = $("#btn-delete");
       a.hide();
       a.fadeIn(2000);
    </script>
    }

