@model IEnumerable<AdminUserListingServiceModel>
@{
    ViewBag.Title = "User Administration";
}

<h2 class="text-default">@ViewBag.Title</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                E-mail
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <th>
                    @user.Username
                </th>
                <th>
                    @user.Email
                </th>
                <th>
<<<<<<< HEAD
                    @using (Html.BeginForm("AddToRole", "Users", new { area = "Admin" }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-9">
                                <input type="hidden" name="UserId" value="@user.Id" />
                                @Html.DropDownListFor(r => r.Roles, new SelectList(Model.Roles, "Value", "Text"), "- Please Select -", new { @class = "form-control" })
                            </div>
                            <div class="col-md-3">
                                <input class="btn btn-sm btn-edited" type="submit" value="Add To Role" />

                            </div>
                        </div>
                    }
                    @if (User.IsInRole(GlobalConstants.AdminRole) && user.Username != User.Identity.Name)
                    {
                        using (Html.BeginForm("DeleteUser", "Users", new { area = "Admin", userId = user.Id }))
=======
                   
                    @if (User.IsInRole(GlobalConstants.AdminRole) && user.Username != User.Identity.Name)
                    {
                        using (Html.BeginForm("DeleteUser", "Users", new { area = "Admin" , userId = user.Id}))
>>>>>>> 7ddd3470b491433b80f2f7c7338892e6de3fa740
                        {
                            @Html.AntiForgeryToken()
                            <div class="row">
<<<<<<< HEAD
                                <div class="col-md-3">
                                    <input class="btn btn-sm btn-danger" type="submit" value="Delete" />
=======
                                <div class="col-md-9">
                                    <input class="btn btn-danger" type="submit" value="Delete"/>
>>>>>>> 7ddd3470b491433b80f2f7c7338892e6de3fa740
                                </div>
                            </div>
                        }
                    }
                </th>
            </tr>
        }
    </tbody>
</table>