@model  IEnumerable<GameListingServiceModel>

@foreach (var games in Model)
{
    <div class="col-sm-4 thumbnail home-thumbnail custom-card">
        <div class="card text-center">
            <div class="card-block">
                <h3 class="card-title">@games.Title</h3>
                <div class="card-text-center">
                    <img src="@games.ThumbnailUrl" class="img-responsive img-fluid img-center" />
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>Release Date:</b> @games.ReleaseDate.ToShortDateString()</li>
                        <li class="list-group-item"><b>Price:</b> @games.Price $</li>
                        <li class="list-group-item"><b>Size:</b> @games.Size GB</li>
                        @{
                            var subDescript = games.Description.Substring(0, DataConstants.GamesDescriptionMinLenght);
                        }
                        <li class="list-group-item"><b>Description:</b> @subDescript...</li>
                    </ul>
                    <div class="card-footer">
                        @Html.ActionLink("Details", "Details", "Games", new { area = "", id = games.Id}, new {@class="btn" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}