<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Games Store BG</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Games Store BG", "Index", "Home", new { area = "" }, new { @class = "navbar-brand fa fa-gamepad fa-2em" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(GlobalResources.ViewLayoutHome, "Index", "Home", new { area = "" }, "")</li>
                    <li>@{Html.RenderAction("CartSummary", "ShoppingCart", new { area = "" });}</li>
                    @if (User.IsInRole(GlobalConstants.AdminRole))
                    {
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Admin
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("User-Administration", "Index", new { controller = "Users", area = "Admin" })</li>
                            <li>@Html.ActionLink("Orders", "AllOrders", new { controller = "Users", area = "Admin" })</li>
                        </ul>
                    </li>
                    }
                    @if (User.IsInRole(GlobalConstants.ModeratorRole))
                    {
                        <li>@Html.ActionLink(GlobalResources.ViewLayoutAddGame, "Create", new { controller = "Games", area = "Moderator" })</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @if (TempData.ContainsKey(WebConstants.TempDataSuccessMessageKey))
        {
            <div class="alert alert-success">
                @TempData[WebConstants.TempDataSuccessMessageKey]
            </div>
        }

        @if (TempData.ContainsKey(WebConstants.TempDataErrorMessageKey))
        {
            <div class="alert alert-danger">
                @TempData[WebConstants.TempDataErrorMessageKey]
            </div>
        }
        @RenderBody()
        <hr />
        <footer>
            <p><a href="https://www.github.com/v-uzunov"><span class="fab fa-github fa-md"></span> Veselin Uzunov GitHub</a></p>
            <p><a href="https://www.linkedin.com/in/veselin-uzunov"><span class="fab fa-linkedin-in fa-md"></span> Veselin Uzunov Linkedin</a></p>
            <p>Veselin Uzunov &copy; @DateTime.Now.Year - Games Store BG</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
</body>
</html>
